<!DOCTYPE html>
<!-- AWP_In_Variable Name='"Activar_Deshidratador"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad"' -->
<!-- AWP_In_Variable Name='"Deshidratador"' -->
<!-- AWP_In_Variable Name='"Iniciar"' -->
<!-- AWP_In_Variable Name='"Detener"' -->
<!-- AWP_In_Variable Name='"Modos_Operacion".Modo_Preset_D1' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador1_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador1_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Deshidratador1_Final"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D1_Inicial"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D1_Intermedia"' -->
<!-- AWP_In_Variable Name='"Set_Point_Humedad_D1_Final"' -->
<!-- AWP_In_Variable Name='"Tiempo_Histeresis_D1"' -->
<html lang="esp">
	
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <script src="js/jquery-3.3.1.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="css/navStyle.css">
	    <script src="js/navScript.js"></script>
	    <script src="js/login.js"></script>
	    <script src="js/index.js"></script>
	    <script src="https://kit.fontawesome.com/b3ab30c678.js" crossorigin="anonymous"></script>
	    <script>
	        if (getUserName() != "Admin") {
	            location.href='/awp/ServidorQuantum/views/login.html';
	        }
	    </script>

		<title>Control Deshidratación</title>

	</head>

	<body>
		
		<!-- AWP_Import_Fragment Name='navBar' -->

		<!-- AWP_Import_Fragment Name='sideBar' -->

		<div class="container">
			<br>
			<div class="panel panel-default">
				<div class="panel-heading"><h2>Control Deshidratador</h2></div>						
				<div class="panel-body">
					<div style="display: flex; gap: 1px;">
						<div class="p-2">
							<input class="btn btn-success" type="button" id="buttonActDeshidratador" value="Activar" coilValue="1" onmousedown="activarDeshidratador('../IOStartDeh.html','buttonActDeshidratador')" />
						</div>
						<div class="p-2">
							<input class="btn btn-danger" type="button" id="buttonDeactDeshidratador" value="Detener" coilValue="0" onmousedown="desactivarDeshidratador('../IOStopDeh.html','buttonDeactDeshidratador')" />
						</div>
						<div class="ml-auto p-2">
							<input class="btn btn-warning" type="button" onclick="location.href='/awp/ServidorQuantum/views/dashboardHumD1.html';" value="Ver grafica" />
						</div>	
						<div style="margin-left: auto;" class="ml-auto p-2">
							<input  class="btn btn-secondary" type="button" id="buttonD1Mode" value="Presets"
							coilValue="1" onmousedown="cambiarModoOperacionD1('../IOD1Mode.html')" />
						</div>															
					</div>							
				</div>
				<div class="panel-heading">
					<h4>Estado Deshidratador: 
						<span id="estadoDeshidratador1" name="estadoDeshidratador1" style="float:right"></span>
					</h4>
				</div>
				<div class="panel-body">
					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Temperatura Definitiva (C°):
								<span id="temperaturaDeshidratador" name="temperaturaDeshidratador"></span>    	
							</h4>
							<input id="setTempD", type="text" class="form-control" name='"Set_Point_Deshidratador"'/>
							<br>
							<button type="submit" class="btn btn-warning" onclick="cargarSetPointTempD1('../IOTempD1Status.html')">Cargar</button>
						</div>
					</div>

					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Humedad Definitiva (%):
								<span id="humedadDeshidratador" name="humedadDeshidratador"></span>    	
							</h4>
							<input id="setHumD", type="text" class="form-control" name='"Set_Point_Humedad_D"'/>
							<br>
							<button type="submit" class="btn btn-warning" onclick="cargarSetPointHumD1('../IOHumD1Status.html')">Cargar</button>
						</div>
					</div>

					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Tiempo Histeresis (min):
								<span id="hystDeshidratador1" name="hystDeshidratador1"></span>    	
							</h4>
							<input id="setHystD1", type="text" class="form-control" name='"Set_Hysteresis_D1"'/>
							<br>
							<button type="submit" class="btn btn-warning" onclick="cargarHystD1('../IOD1HystStatus.html')">Cargar</button>
						</div>
					</div>							
				</div>
				<div id="presetsHeadingD1" class="panel-heading" style="display:none"><h4>Presets</h4></div>
				<div id="presetsPanelD1" class="panel-body" style="display:none">
					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Temperatura Inicial (°C):
								<span id="temperaturaInicialDeshidratador1" name="temperaturaInicialDeshidratador1"></span>    	
							</h4>
							<input id="setTempD1Init", type="text" class="form-control" name='"Set_Point_Deshidratador1_Inicial"'/>
							<br>
							<button type="submit" class="btn btn-info" onclick="cargarSetPointTempInitD1('../IOTempD1InitStatus.html')">Cargar</button>
						</div>
					</div>

					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Humedad Inicial (%):
								<span id="humedadInicialDeshidratador1" name="humedadInicialDeshidratador1"></span>    
							</h4>
							<input id="setHumD1Init", type="text" class="form-control" name='"Set_Point_Humedad_D1_Inicial"'/>
							<br>
							<button type="submit" class="btn btn-info" onclick="cargarSetPointHumInitD1('../IOHumD1InitStatus.html')">Cargar</button>
						</div>
					</div>
					<hr class="mt-2 mb-3"/>
					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Temperatura Intermedia (°C):
								<span id="temperaturaIntermediaDeshidratador1" name="temperaturaIntermediaDeshidratador1"></span>    	
							</h4>
							<input id="setTempD1Mid", type="text" class="form-control" name='"Set_Point_Deshidratador1_Intermedia"'/>
							<br>
							<button type="submit" class="btn btn-info" onclick="cargarSetPointTempMidD1('../IOTempD1MidStatus.html')">Cargar</button>
						</div>
					</div>
					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Humedad Intermedia (%):
								<span id="humedadIntermediaDeshidratador1" name="humedadIntermediaDeshidratador1"></span>    	
							</h4>
							<input id="setHumD1Mid", type="text" class="form-control" name='"Set_Point_Humedad_D1_Intermedia"'/>
							<br>
							<button type="submit" class="btn btn-info" onclick="cargarSetPointHumMidD1('../IOHumD1MidStatus.html')">Cargar</button>
						</div>
					</div>
					<hr class="mt-2 mb-3"/>
					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Temperatura Final (°C):
								<span id="temperaturaFinalDeshidratador1" name="temperaturaFinalDeshidratador1"></span>
							</h4>
							<input id="setTempD1Final", type="text" class="form-control" name='"Set_Point_Deshidratador1_Final"'/>
							<br>
							<button type="submit" class="btn btn-info" onclick="cargarSetPointTempFinalD1('../IOTempD1FinalStatus.html')">Cargar</button>
						</div>
					</div>

					<div class="panel-body">
						<div style="display: flex; gap: 3px; align-items: center; justify-content: center;">
							<br>
							<h4>Set Point Humedad Final (%):
								<span id="humedadFinalDeshidratador1" name="humedadFinalDeshidratador1"></span>    	
							</h4>
							<input id="setHumD1Final", type="text" class="form-control" name='"Set_Point_Humedad_D1_Final"'/>
							<br>
							<button type="submit" class="btn btn-info" onclick="cargarSetPointHumFinalD1('../IOHumD1FinalStatus.html')">Cargar</button>
						</div>
					</div>							
				</div>									
			</div>
		</div>
	</body>
</html>